@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}

nav {
	width: 100vw;
	height: 10vh;
	background: #2C3E50;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	position: relative;
}

.menu>a {
	font-size: 16px;
	color: white;
	text-decoration: none;
	margin: 0px 20px;
	transition: all 0.2s;
}

.menu>a:hover {
	color: #18BC9C;
}

.menu {
	position: relative;
	right: 150px;
}

.logo {
	position: relative;
	left: 200px;
	font-weight: 600;
	font-size: 25px;
}

main {
	width: 100vw;
	height: 70vh;
	background-color: #18BC9C;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img>img {
	width: 180px;
	border-radius: 50%;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.details>.name {
	font-size: 60px;
	font-weight: 600;
	color: white;
}

.details>hr {
	height: 2px;
	width: 180px;
	background: white;
	margin-bottom: 20px;
}

.details>.bio {
	font-size: 20px;
	color: white;
	font-weight: 500;
}

.portfolio,
.contact-me {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portfolio>h1,
.contact-me>h1 {
	color: #2C3E50;
	font-size: 35px;
	margin: 20px 0px;
}

.portfolio>hr,
.contact-me>hr {
	height: 2px;
	width: 180px;
	background: #2C3E50;
	margin-bottom: 20px;
}

.panel {
	width: 100vw;
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 70vw;
}

.projects>.project {
	margin: 10px;
}

.about {
	width: 100vw;
	height: 65vh;
	background-color: #18BC9C;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

.about>h1 {
	font-size: 35px;
	margin: 20px 0px;
}

.about>hr {
	height: 2px;
	width: 180px;
	background: white;
	margin-bottom: 20px;
}

.about>.about-para {
	width: 40vw;
	font-size: 14px;
}

.form {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
	background: #18BC9C;
	padding: 10px;
	border-radius: 8px;
}

form>input,
button,
textarea {
	border: none;
	outline: none;
	padding: 4px;
	border-radius: 2px;
	margin: 14px 0px;
}

.submit-btn {
	background-color: #2C3E50;
	color: white;
	font-size: 19px;
	font-weight: 600;
	cursor: pointer;
}

footer {
	width: 100vw;
	height: 35vh;
	background: #2C3E50;
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
}

footer>div {
	margin: 0px 20px;
}

.links {
	display: flex;
}

.links>a {
	margin: 0px 4px;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.links>a:hover {
	text-decoration: underline;
}
